[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
joblib = "*"
streamlit = "*"
scikit-learn = "*"
mysql-connector-python = "*"
sqlalchemy = "*"
numpy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
